h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

/* DIVS TO PUT MEDIA IN */
.videoHold {
  background-color: #998099;
  width: 640px;
  height: 360px;
  padding: 1rem;
  margin: 10px;
  box-shadow: -3px 3px 1.5px gray, 0 2px 5px black;
}

.pictureOfKaty {
  background-color: #998099;
  width: 300px;
  height: 400px;
  padding: 1rem;
  box-shadow: -3px 3px 1.5px gray, 0 2px 5px black;
}

/* HEADER FOOTER */
ul.container {
  text-align: center;
}

li.mr-auto {
  display: inline;
}

.logo {
  margin: 0 10px;
}

.navbar-brand.text {
  transition: color 1s ease;
  text-shadow: 1px 2px 3px #998099;
  color: #5d6465;
}
.text:hover {
  color: #000000;
}
.fa {
  padding: .5rem;
}
/* BACKGROUNDS */
body {
  background-color: #D7F3F6;
}

.bg-color {
  background-color: #f9f0fa;
}

.bg-color-foot {
  background-color: #B3ECEC;
}

/* INDEX */

/* Jumbotron original background color #e9ecef */

.jumboContainer {
  display: flex;
  align-items: center;
  background-color: #DEBADD;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 600px) {
  .jumboContainer {
    flex-wrap: wrap;
  }      /* THIS IS STILL A MESS*/
}

.jumboText {
  text-align: center;
}

.jumboText h1 {
  text-shadow: 2px 2px 4px gray;
}

.jumboText p {
  font-size: 1.4rem;
  text-shadow: 1.5px 1.5px 2.5px gray;
}

.jumboText h1 {
  font-size: 3.4rem;
  font-weight: bold;
  padding-bottom: .5rem;
}

.rfDifference {
  display: flex;
  flex-flow: row;
}

.DiffHeading {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px #f9f0fa;
  margin-top: 10px;
}

.FlexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.diffContainer {
  display: flex;
  flex-wrap: nowrap;
  margin: 2rem;
  max-width: 425px;
}

.DiffText {
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: 1rem;
}

.DiffText p {
  font-size: 1.3rem;
  text-align: center;
  /*transition: font-weight .4s ease-in-out;

    &:hover,
    &.be-bold {
        font-weight: bold;
        cursor: pointer;*/
}

.DiffPic {
  box-shadow: -3px 3px 1.5px gray, 0 2px 5px black;
}

/* INSTRUCTOR PAGE */
.instructContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.staffIntro {
  max-width: 700px;
  padding: 1rem;
}

/* CONTACT PAGE */
.address {
  padding-top: 10px;
}

.contactPhoto {
  margin: 10px 0 20px 80px;
}

/* BENEFITS */
.starting, .benefits {
  margin: 5%;
}

.starting h1 {
  text-align: center;
  margin: 12px;
}

.startingText {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

.benefits h2 {
  text-align: center;
}

.benefits h3 {
  margin: 8px;
}

.benefits ul {
  margin-left: 30%;
  font-size: 1.2rem;
}
