h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

/* DIVS TO PUT MEDIA IN move to correct page when filled*/
.videoHold {
  background-color: #998099;
  width: 640px;
  height: 360px;
  padding: 1rem;
  margin: 10px;
  box-shadow: -3px 3px 1.5px gray, 0 2px 5px black;
}

.pictureOfKaty {
  background-color: #998099;
  width: 300px;
  height: 400px;
  padding: 1rem;
  box-shadow: -3px 3px 1.5px gray, 0 2px 5px black;
}

@media only screen and (max-width: 400px) {
  .pictureOfKaty {
    margin: 0 auto;
  }
} /*center on small screen*/

/* -------HEADER FOOTER-------- */
ul.container {
  text-align: center;
}

li.mr-auto {
  display: inline;
}

.logo {
  margin: 0 10px;
}

.navbar-brand.text {
  transition: color 1s ease;
  text-shadow: 1px 2px 3px #998099;
  color: #5d6465;
}
.text:hover {
  color: #000000;
}
.fa {
  padding: .5rem;
}

/* -------BACKGROUNDS-------- */
body {
  background-color: #D7F3F6;
}

.bg-color {
  background-color: #f9f0fa;
}

.bg-color-foot {
  background-color: #B3ECEC;
}

/* -------INDEX------- */

/* Jumbotron original background color #e9ecef */

.jumboContainer {
  display: flex;
  align-items: center;
  background-color: #DEBADD;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 770px) {
  .jumboContainer {
    display: block;
  }
}

@media only screen and (min-width: 400px) and (max-width: 770px) {
  .diffContainer {
    max-width: 700px;
  }
  .DiffText {
    width: 200%;
  }
}

@media only screen and (max-width: 600px) {
  .jumboPic {
    width: 50%;
  }
}

.jumboText {
  text-align: center;
}

.jumboText h1 {
  text-shadow: 2px 2px 4px gray;
}

.jumboText p {
  font-size: 1.4rem;
  text-shadow: 1.5px 1.5px 2.5px gray;
}

.jumboText h1 {
  font-size: 3.4rem;
  font-weight: bold;
  padding-bottom: .5rem;
  text-shadow: 1.5px 1.5px 2.5px gray;
}

.rfDifference {
  display: flex;
  flex-flow: row;
}

.DiffHeading {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px #f9f0fa;
  margin-top: 10px;
}

.FlexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.diffContainer {
  display: flex;
  flex-wrap: nowrap;
  margin: 2rem;
  max-width: 425px;
}
@media only screen and (max-width: 400px) {
  .diffContainer {
    display: block;
  }
}

.DiffText {
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: 1rem;
}

.DiffText p {
  font-size: 1.3rem;
  text-align: center;
  transition: font-weight .2s ease-in-out;

    &:hover,
    &.be-bold {
        font-weight: bold;
        cursor: pointer;
}

.DiffPic {
  box-shadow: -3px 3px 1.5px gray, 0 2px 5px black;
}

/* -------INSTRUCTOR PAGE------- */
.instructContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 10px;
}
.staffIntro {
  min-width: 375px;
  max-width: 700px;
  padding: 1rem;
}

/*@media only screen and (max-width: 600px) {
  .staffIntro img {
    width: 25%;
  }   /*  this is not working here either */


.staffIntroPic {
  padding: 20px auto;
}  /*this is not working*/

/* -------CONTACT PAGE------- */
img, iframe {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 400px) {
  .row {
    justify-content: center;
  }  /* this is not working */
}  /* get photo/address centered on small screen*/
  /* add coupon to see who is coming from website/insta/fb*/

@media only screen and (max-width: 400px) {
  .contactLogo {
    flex-wrap: wrap;
  }

  .map {
    max-width: 300px;
  }
}

/* -------BENEFITS------- */
.starting, .benefits {
  margin: 5%;
}

.starting h1 {
  text-align: center;
  margin: 12px;
}

.startingText {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

.benefits h2 {
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .benefitPic {
    width: 50%;
}   /* this is not working either */
  }

.benefits h3 {
  margin: 8px;
}

.benefits ul {
  margin-left: 30%;
  font-size: 1.2rem;
}
